.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
}

.header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: green;
    color:white
}

.listing {
    font-size: 20px;
    font-weight: bold;
}

.img-preview {
    width: 300px;
    height: 300px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
}